<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title>{{title}}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="icon" type="image/png" href="media/favicomatic/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="media/favicomatic/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css"> 
	
</head>

<body>
    <div class="row">
    	<div class="col-4 sidepanel">
        	<h1>
        	    <b>{{opening_text}}
        	    <p>{{sub_text}}</p>
        	    </b>
        	</h1>
        	<img src="media/profilepic1.jpg" class="img-fluid rounded-circle" />
        	<p>
        	<a href="https://www.linkedin.com/in/matthew-tucker-0683a5107/" target="_blank" class="btn btn-red btn-lg">
        	    <i class="fab fa-linkedin">
        	    </i>
        	    "LinkedIn"
        	</a>
        	<button class="button" href="https://github.com/mTucker-18" target="_blank">
        	    <i class="fab fa-github">
        	    </i>
        	    "GitHub"
        	</button>
        	</p>
        </div>
        
        <div class="col">
        	<h2><b>Learning Focus</b></h2>
        		<ul class="nav nav-pills">
  				<li class="nav-item">
    				<a class="nav-link {{about_nav}}" href="index.html">About</a>
  				</li>
  				<li class="nav-item">
   	 				<a class="nav-link {{projects_nav}}" href="projects.html">Projects</a>
 				</li>
  				<li class="nav-item">
    					<a class="nav-link {{blog_nav}}" href="blog.html">Blog</a>
  				</li>
			</ul>
			
{{content}}

            </div>
        </div>
    </div>
</body>
</html>
